@tailwind base;
@tailwind components;
@tailwind utilities;

.conatainer_wraper {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.bg-hero {
  background-image: url("./assets//img/hero-bg.png");
  background-repeat: no-repeat;
  /* Path */
  position: absolute;
  width: 1490.03px;
  height: 1161px;
  left: 30.01%;
  right: -60%;
  top: -13.9%;
  z-index: -1;
}

.header {
  position: relative;
  top: 0;
  height: 100vh;
  overflow: hidden !important;
}
.all_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  color: rgb(111, 124, 178);
}

@media screen and (max-width:600px) {
  .all_text{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}